<div class="pop-up" id="pop-up">
  <div class="pop-up__content">
      <div class="pop-up__imgs">
          <img src="assets/img/nat-5.jpg" class="pop-up__img" alt="Tour photo">
          <img src="assets/img/nat-6.jpg" class="pop-up__img" alt="Tour photo">
      </div>
      <div class="pop-up__main">
          <a href="#" class="pop-up__close">&times;</a>
          <h2 class="heading-secondary u-margin-bottom-small">Strat booking now</h2>
          <h3 class="heading-tertiary u-margin-bottom-small">Important &ndash; Please read this terms
              before booking</h3>
          <p class="pop-up__text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia ab obcaecati repellendus
              minima maxime quasi expedita repudiandae ad suscipit velit numquam magni totam consequuntur
              ipsam, dolore delectus vel soluta quo!
              <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore excepturi nostrum sequi laudantium vitae in nulla quis dignissimos impedit! Voluptate molestiae ea obcaecati ad dolore maiores quidem sed quaerat voluptatem! -->
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam veritatis saepe modi
              optio earum reprehenderit iusto voluptate, iste nam, non autem soluta eius possimus neque
              accusantium voluptatibus perspiciatis architecto molestias?</p>
          <a href="javascript:void(0)" class="btn btn--green">
              Book now
          </a>
      </div>
  </div>
</div>