<section class="section-book" id="section-book">
  <div class="row">
      <div class="book">
          <div class="book__form">
              <div class="u-margin-bottom-medium">
                  <h2 class="heading-secondary">
                      Start booking now
                  </h2>
              </div>
              <form action="#" class="form">
                  <div class="form__group">
                      <input type="text" id="name" class="form__input" placeholder="Full name" required>
                      <label for="name" class="form__label">Full name</label>
                  </div>
                  <div class="form__group">
                      <input type="email" id="email" class="form__input" placeholder="Email adress" required>
                      <label for="email" class="form__label">Email adress</label>
                  </div>
                  <div class="form__radio-group">
                      <input type="radio" id="small" class="form__radio-input" name="size" >
                      <label for="small" class="form__radio-label">
                          <span class="form__radio-button"></span>
                          Small tour group
                      </label>
                  </div>
                  <div class="form__radio-group">
                      <input type="radio" id="large" class="form__radio-input" name="size" >
                      <label for="large" class="form__radio-label">
                          <span class="form__radio-button"></span>
                          Large tour group
                      </label>
                  </div>
                  <div class="form__group u-margin-top-medium">
                      <button class="btn btn--green" type="submit">Next Step</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</section>