<div class="navigation">
  <input type="checkbox" class="navigation__checkbox" id="navi-toogle">
  <label for="navi-toogle" class="navigation__button">
      <span class="navigation__icon">&nbsp;</span>
  </label>
  <div class="navigation__background">&nbsp;</div>
  <nav class="navigation__nav">
      <ul class="navigation__list" >
          <li class="navigation__item"><a href="#section-about"  class="navigation__link"><span>1</span>About Tours</a></li>
          <li class="navigation__item"><a href="#section-features" class="navigation__link"><span>2</span>Your benefits</a></li>
          <li class="navigation__item"><a href="#section-tours" class="navigation__link"><span>3</span>Popular Tours</a></li>
          <li class="navigation__item"><a href="#section-stories" class="navigation__link"><span>4</span>Stories</a></li>
          <li class="navigation__item"><a href="#section-book" class="navigation__link"><span>5</span>Book now</a></li>
      </ul>
  </nav>
</div>